@use "colors" as *;
@use "mixins" as *;
@use "variables" as *;
@use "typography" as *;

// Global will have all styling elements that is persistent across all pages. At sprint 1 we can assume what that is.

body {
  background-color: $white;
  color: $bandsite-darkblack;
  font-family: $font-stack;
  margin: 0;
}



// This is for the top-nav
.top-nav {
  background-color: $bandsite-black;
  color: $white;

  &__logo {
    @include logo-style;
    padding: $mobile-pad-below-headlines 0;
    text-align: center;
    margin: 0 auto;
  }

  &__list {
    display: flex;
  }

  &__link {
    width: 50%;
    text-align: center;
    padding-bottom: $mobile-pad-btw-comp;
    @include mobile-subheader-style;
    border-bottom: 2px solid $bandsite-black;

    &:hover {
      border-bottom: 3px solid white;
      padding-bottom: 13px;
      box-sizing: border-box;
    }
  }

}

// This is for the hero section
.hero {
  background-image: url(../assets/images/hero-bio.jpg);
  max-width: 100%;
  height: 13.5rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;   

  &__title {
    color: $white;
    @include mobile-page-header-style;
    padding-left: $mobile-pad-btw-comp;
  }
}

// This is for the main body section

.main {

  &__title {
    @include mobile-page-header-style;
    padding: $mobile-pad-top-headlines $mobile-pad-btw-comp $mobile-pad-below-headlines $mobile-pad-btw-comp;

  }

  &__image {
    max-width: 100%;
    padding: 0 $mobile-pad-btw-comp $mobile-pad-btw-comp $mobile-pad-btw-comp;
    box-sizing: border-box;
  }

  &__quote {
    @include mobile-subheader-style;
    padding: 0 $mobile-pad-btw-comp;
  }

  &__quote-author {
    @include mobile-subheader-style;
    padding: $mobile-pad-btw-comp $mobile-pad-btw-comp 0 $mobile-pad-btw-comp;
  }

  &__body-title{
    @include mobile-subheader-style;
    padding: $mobile-pad-top-headlines $mobile-pad-btw-comp $mobile-pad-below-headlines $mobile-pad-btw-comp;
  }

  &__body-copy{
    @include mobile-body-copy-style;
    padding: 0 $mobile-pad-btw-comp $mobile-pad-btw-comp $mobile-pad-btw-comp;
    margin: 0;
  }

}

.photo {
  background-color: $alabaster;
  padding: $mobile-pad-btw-comp $mobile-pad-btw-comp 0 $mobile-pad-btw-comp;
  @include mobile-section-header-style;
  display: flex;
  flex-wrap: wrap;

  &__image {
    width: 100%;
    padding-bottom: $mobile-pad-btw-comp;
  }
}
// This is for the footer
.footer-bar {
  background-color: $bandsite-black;
  color: $white;
  padding: $mobile-pad-top-headlines $mobile-pad-btw-comp $mobile-pad-below-headlines $mobile-pad-btw-comp;
  

  &__top-list {
    @include mobile-page-header-style;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__top-list-item {
    padding-bottom: $mobile-pad-btw-comp;
    display: flex;
    justify-content: flex-start;
    width: 11rem;
  }
  
  &__top-list-item-icon {
    margin:0 auto 0 0;
    
  }

  &__bot-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__bot-card {
    text-align: left;
  }

  &__bot-card-title {
    @include mobile-subheader-style;
    padding-bottom: $mobile-pad-below-headlines;
  }

  &__bot-card-copy {
    @include mobile-footer-copy-style;
    padding-bottom: $mobile-pad-below-headlines;
  }

  &__copyright {
    @include mobile-footer-copy-style;
    padding-bottom:  $mobile-pad-btw-comp;
  }

}

.endlogo {
  @include logo-style;
  padding: $mobile-pad-top-headlines 0 $mobile-pad-below-headlines 0; 
  text-align: left;
} 
