@use "colors" as *;
@use "mixins" as *;
@use "variables" as *;
@use "typography" as *;

// Global will have all styling elements that is persistent across all pages. At sprint 1 we can assume what that is.

body {
  background-color: $white;
  color: $bandsite-darkblack;
  font-family: $font-stack;
  margin: 0;
}

// This is for the top-nav
.top-nav {
  background-color: $bandsite-black;
  color: $white;

  @include tablet {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__logo {
    @include logo-style;
    padding: $m-pad-below-hdln 0;
    margin: 0 auto;

    @include tablet {
      margin: 0;
      padding: 0 1.5rem;
    }
  }

  &__list {
    display: flex;
    width: 100%;
    @include tablet {
      align-items: center;
    }
  }

  &__link {
    @include m-subhd-style;
    color: $mercury;
    width: 50%;
    text-align: center;
    padding-bottom: 1rem;
    border-bottom: 0.1875rem solid $bandsite-black;

    @include tablet {
      width: fit-content;
      padding: 1.5rem;
    }

    &:hover {
      color:$white;
      border-bottom: 0.1875rem solid $white;
      padding-bottom: 1rem;
      box-sizing: border-box;
      font-weight: 700;

      @include tablet {
        margin: 0 1.5rem;
        padding: 1.5rem 0 1.3125rem 0;
      }
    }
  }

}

// This is for the hero section
.hero {
  background:linear-gradient(0deg, rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url(../assets/images/hero-bio.jpg);
  max-width: 100%;
  height: 13.5rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;   

  @include tablet {
    height: 25rem;
  }

  &__title {
    color: $white;
    @include m-pg-hdr-style;
    padding-left: $m-pad-btw-comp;


    @include tablet {
      @include dt-pg-hdr-style;
      padding-left: $dt-pad-btw-comp;
    }
  }
}

// This is for the main body section

.main {

  &__container {
    padding: 0 $m-pad-btw-comp;

    @include tablet {
      padding: 0 6rem;
    }
  }

  &__title {
    @include m-pg-hdr-style;
    padding: $m-pad-top-hdln 0 $m-pad-below-hdln 1rem;

    @include tablet {
      @include dt-sec-hdr-style;
      padding: $dt-pad-top-hdln 0 $dt-pad-below-hdln 2.25rem;
    }
  }

  &__image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  &__image {
    padding: 0 0 $m-pad-btw-comp 0;
    flex-shrink: 0;
    max-width: 100%;
    object-fit: cover;
    box-sizing: border-box;

    @include tablet {
      padding: 0 0 $dt-pad-btw-comp 0;
    }
  }

  &__quote {
    @include m-subhd-style;
    padding: 0 0 $m-pad-btw-comp 0;

    @include tablet {
      @include dt-subhd-style;
      padding: 0 0 $dt-pad-btw-comp 0;
    }
  }

  &__quote-author {
    @include m-subhd-style;

    @include tablet {
      @include dt-subhd-style;
      // padding: 0 0 $dt-pad-btw-comp 0;
    }
  }

  &__body-container {

    @include tablet {
    display: flex;
    justify-content: space-between;
    }
  }

  &__body-title{
    @include m-subhd-style;
    padding: $m-pad-top-hdln 0 $m-pad-below-hdln 0;

    @include tablet {
      @include dt-subhd-style;
      padding: $dt-pad-top-hdln 0 $dt-pad-below-hdln 0;
      width: 47.5%;
    }
  }

  &__body-copy{
    @include m-bdy-copy-style;
    padding: 0 0 $m-pad-btw-comp 0;
    margin: 0;

    @include tablet {
      @include dt-bdy-copy-style;
      padding: 0 0 $dt-pad-btw-comp 0;
    }
  }

}

.photo {
  background-color: $alabaster;
  padding: 0 $m-pad-btw-comp;

  &__title {
    @include m-sec-hdr-style;
    padding: $m-pad-top-hdln 0 $m-pad-below-hdln 0;

    @include tablet {
      @include dt-sec-hdr-style;
      padding: $dt-pad-top-hdln 0 $dt-pad-below-hdln 0;
    }
  }

  &__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  }
  
  &__image {
    width: 100%;
    padding-bottom: $m-pad-btw-comp;

    @include tablet {
      width: 30%;

      padding-bottom: $dt-pad-btw-comp;
    }
  }
}
// This is for the footer
.footer-bar {
  background-color: $bandsite-black;
  color: $white;
  padding: $m-pad-top-hdln $m-pad-btw-comp $m-pad-below-hdln $m-pad-btw-comp;
  position: relative;

  @include tablet {
    padding: $dt-pad-top-hdln $dt-pad-btw-comp $dt-pad-below-hdln $dt-pad-btw-comp;
  }
  

  &__top-list {
    @include m-pg-hdr-style;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @include tablet {
      @include dt-sec-hdr-style;
      font-weight: 400;
      flex-direction: row;
      align-items: center;
    }
  }

  &__top-list-item {
    width: 11rem;
    padding: 0 $m-pad-btw-comp $m-pad-btw-comp 0;
    display: flex;
    justify-content: flex-start;

    @include tablet {
      width: fit-content;
      padding: 0 $dt-pad-btw-comp $dt-pad-btw-comp 0;
    }
  }
  
  &__top-list-item-icon {
    margin:0 auto 0 0;
    
    @include tablet {
      margin:0 $dt-pad-btw-comp 0 0;
    }
  }

  &__bot-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @include tablet {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      width: 43.5rem;
    }
  }

  &__bot-card {
    text-align: left;
  }

  &__bot-card-title {
    @include m-subhd-style;
    padding-bottom: $m-pad-below-hdln;

    @include tablet {
      @include dt-ft-copy-style;
      padding-bottom: $dt-pad-btw-comp;
    }
  }

  &__bot-card-copy {
    @include m-ft-copy-style;
    padding-bottom: $m-pad-below-hdln;

    @include tablet {
      @include dt-ft-copy-style;
      padding-bottom: $dt-pad-btw-comp;
    }
  }

  &__copyright {
    @include m-ft-copy-style;
    // padding-bottom:  $m-pad-btw-comp;

    @include tablet {
    @include dt-ft-copy-style;
    // padding-bottom:  $dt-pad-btw-comp;
  }
  }
}

.endlogo {
  @include logo-style;
  padding: $m-pad-top-hdln 0 $m-pad-below-hdln 0; 
  text-align: left;

  @include tablet {
  position: absolute;
  top: 9%;
  right: 2.5%;
  }
} 
