@use "variables" as *;

// These are meta mixins. maybe needs breakpoints
@mixin logo-style{
  width: $logo-width;
  height: $logo-height;
  font-size: $logo-txtsz;
  text-align: center
}

@mixin tablet {
  @media (min-width: $tablet) {
      @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop) {
      @content;
  }
}

// These are mobile mixins
@mixin m-pg-hdr-style {
  font-size: $m-pg-hdr-txtsz;
  line-height: $m-pg-hdr-lnhgt;
  font-weight: $m-pg-hdr-txtwgt;
}

@mixin m-sec-hdr-style {
  font-size: $m-sec-hdr-txtsz;
  line-height: $m-sec-hdr-lnhgt;
  font-weight: $m-sec-hdr-txtwgt;
}

@mixin m-sunhd-style {
  font-size: $m-subhd-txtsz;
  line-height: $m-subhd-lnhgt;
  font-weight: $m-subhd-txtwgt;
}

@mixin m-bdy-copy-style {
  font-size: $m-bdy-copy-txtsz;
  line-height: $m-bdy-copy-lnhgt;
  font-weight: $m-bdy-copy-txtwgt;
}

@mixin m-ft-copy-style {
  font-size: $m-ft-copy-txtsz;
  line-height: $m-ft-copy-lnhgt;
  font-weight: $m-ft-copy-txtwgt;
}

@mixin m-lbls-btn-style {
  font-size: $m-lbls-btn-txtsz;
  line-height: $m-lbls-btn-lnhgt;
  font-weight: $m-lbls-btn-txtwgt;
}