@use "variables" as *;

// These are meta mixins. maybe needs breakpoints
@mixin logo-style{
  width: $logo-width;
  height: $logo-height;
  font-size: $logo-txtsize;
  text-align: center
}

@mixin tablet {
  @media (min-width: $tablet) {
      @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop) {
      @content;
  }
}

// These are mobile mixins
@mixin mobile-page-header-style {
  font-size: $m-pg-section-header-txtsize;
  line-height: $m-pg-section-header-lineheight;
  font-weight: $m-pg-section-header-txtweight;
}

@mixin mobile-section-header-style {
  font-size: $m-pg-section-header-txtsize;
  line-height: $m-pg-section-header-lineheight;
  font-weight: $m-pg-section-header-txtweight;
}

@mixin mobile-subheader-style {
  font-size: $m-subheader-txtsize;
  line-height: $m-subheader-lineheight;
  font-weight: $m-subheader-txtweight;
}

@mixin mobile-body-copy-style {
  font-size: $m-body-footer-copy-txtsize;
  line-height: $m-body-footer-copy-lineheight;
  font-weight: $m-body-footer-copy-txtweight;
}

@mixin mobile-footer-copy-style {
  font-size: $m-body-footer-copy-txtsize;
  line-height: $m-body-footer-copy-lineheight;
  font-weight: $m-body-footer-copy-txtweight;
}

@mixin mobile-labels-buttons-style {
  font-size: $m-labels-buttons-txtsize;
  line-height: $m-labels-buttons-lineheight;
  font-weight: $m-labels-buttons-txtweight;
}