// These are for managing the logo styling
$logo-txtsize: 1.25rem;
$logo-width: 7.5rem;
$logo-height: 1.25rem;

// These are mobile variables
// mobile font sizes
$m-pg-section-header-txtsize: 1.5rem;
$m-subheader-txtsize: 0.875rem;
$m-body-footer-copy-txtsize: 0.8125rem;
$m-labels-buttons-txtsize: 0.625rem;

// mobile line heights
$m-pg-section-header-lineheight: 2rem;
$m-subheader-lineheight: 1.375rem;
$m-body-footer-copy-lineheight: 1.125rem;
$m-labels-buttons-lineheight: 1.25rem;

// mobile txt weights
$m-pg-section-header-txtweight: 700;
$m-subheader-txtweight: 600;
$m-body-footer-copy-txtweight: 400;
$m-labels-buttons-txtweight: 700;

// mobile padding increments
$m-pad-top-headlines: 1.5rem;
$m-pad-below-headlines: 1rem;
$m-pad-btw-comp: 1rem;

// These are Desktop/Tablet variables
// dt font sizes
$dt-page-header-txtsize: 3.75rem;
$dt-section-header-txtsize: 2.25rem;
$dt-subheader-txtsize: 1.5rem;
$dt-body-footer-copy-txtsize: 0.875rem;
$dt-labels-buttons-txtsize: 0.75rem;

// dt line heights
$dt-page-header-lineheight: 4.25rem;
$dt-section-header-lineheight: 2.75rem;
$dt-subheader-lineheight: 2rem;
$dt-body-copy-lineheight: 1.375rem;
$dt-footer-copy-lineheight: 1.25rem;
$dt-labels-buttons-lineheight: 1.25rem;

// dt txt weights
$dt-page-section-header-txtweight: 700;
$dt-subheader-txtweight: 600;
$dt-body-footer-copy-txtweight: 400;
$dt-labels-buttons-txtweight: 700;

// dt padding increments
$dt-pad-top-headlines: 3rem;
$dt-pad-below-headlines: 2.25rem;
$dt-pad-btw-comp: 2.25rem;

// These are the breakpoint variables
$tablet: 768px;
$desktop: 1280px;