@use "partials/colors" as *;
@use "partials/mixins" as *;
@use "partials/variables" as *;
@use "partials/keyframes" as *;
@use "partials/global" as *;

// This is for the hero section
.hero {
  background:linear-gradient(0deg, rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url(../assets/images/hero-bio.jpg);
  width: 100%;
  height: 13.5rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center; 
  
  @include tablet {
    height: 32rem;
  }

  @include desktop {
    height: 36rem;
  }

  &__container {
    width: 80rem;
    margin: 0 auto;
  }

  &__title {
    color: $white;
    @include m-pg-hdr-style;
    padding-left: 1rem;

    @include tablet {
      @include dt-pg-hdr-style;
      padding-left: 2.25rem;
    }
  }
}
// This is for the main body section
.main {

  &__container {
    padding: 0 1rem;
    max-width: 80rem;
    margin: 0 auto;

    @include tablet {
      padding: 0 5rem;
    }

    @include desktop{
      padding: 0 13rem;
    }
  }

  &__title {
    @include m-pg-hdr-style;
    padding: 1.5rem 0 1rem 1rem;
    max-width: 80rem;
    margin: 0 auto;

    @include tablet {
      @include dt-sec-hdr-style;
      padding: 3rem 0 2.25rem 2.25rem;
    }

    @include desktop {
      padding: 3rem 0 2.25rem 0rem;
    }
  }

  &__image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  &__image {
    padding: 0 0 1rem 0;
    flex-shrink: 0;
    width: 100%;
    min-height: 15rem;
    max-height: 20rem;
    object-fit: cover;
    box-sizing: border-box;

    @include tablet {
      padding: 0 0 2.25rem 0;
      min-height: none;
      max-height: none;
      height: 26rem;
    }

    @include desktop {
      padding: 0 0 2.25rem 0;
      min-height: none;
      max-height: none;
      height: 32rem;
    }
  }

  &__quote {
    @include m-subhd-style;
    padding: 0 0 1rem 0;

    @include tablet {
      @include dt-subhd-style;
      padding: 0 0 2.25rem 0;
    }
  }

  &__quote-author {
    @include m-subhd-style;

    @include tablet {
      @include dt-subhd-style;
    }
  }

  &__body-container {

    @include tablet {
    display: flex;
    justify-content: space-between;
    }
  }

  &__body-title{
    @include m-subhd-style;
    padding: 1.5rem 0 1rem 0;

    @include tablet {
      @include dt-subhd-style;
      padding: 3rem 0 2.25rem 0;
      width: 47.5%;
    }
  }

  &__body-copy{
    @include m-bdy-copy-style;
    padding: 0 0 1rem 0;
    margin: 0;

    @include tablet {
      @include dt-bdy-copy-style;
      padding: 0 0 2.25rem 0;
      width: 48%;
    }
  }
}

.photo {
  background-color: $alabaster;
  padding: 0 1rem;

  @include tablet {
    max-width: 75em;
    margin: 0 auto;
  }

  &__title {
    @include m-sec-hdr-style;
    padding: 1.5rem 0 1rem 0;

    @include tablet {
      @include dt-sec-hdr-style;
      padding: 3rem 0 2.25rem 0;
    }
  }

  &__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  }
  
  &__image {
    width: 100%;
    padding-bottom: 1rem;
    filter: grayscale(75%);

    &:hover {
      filter: grayscale(0%);
    }

    @include tablet {
      width: 30%;
      padding-bottom: 2.25rem;
    }
  }
}

.comment {
  &__wrap{
    margin: 01rem;
  }

  &__container{
  display: flex;
  @include bot-border;
  margin-bottom: 0.5rem;
    
    @include tablet {
      width: 40rem;
      margin: 0 auto;
    }
  }

  &__avatar {
    border-radius: 50%;
    width: 2.25rem;
    height: 2.25rem;
    background-color: $mercury;
    object-fit: cover;
    margin: 1rem 0.5rem;

    @include tablet {
      width: 3rem;
      height: 3rem;
    }
  }

  &__title {
    @include m-sec-hdr-style;
    padding: 0 0 1rem 0;

    @include tablet {
      @include dt-sec-hdr-style;
      padding: 2rem 0 2.25rem 0;
      max-width: 80rem;
      margin: 0 auto;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__form-label {
    @include m-lbls-btn-style;
    font-size: 0.75rem;
    color: $silver;
    margin-bottom: 0.2rem;
  }

  &__form-input {
    @include m-bdy-copy-style;
    @include form-border;
    padding: 0.5rem;
    margin-bottom: 1.5rem;
    border-radius: 4px;

    &:active {
      @include form-border-active;
    }

    &:invalid {
      @include form-border-invalid;
    }

    @include tablet{
      @include dt-bdy-copy-style;
    }
  }

  &__form-msg {
    @include m-bdy-copy-style;
    @include form-border;
    padding: 0.5rem;
    height: 5rem;
    border-radius: 4px;

    @include tablet{
      @include dt-bdy-copy-style;
    }
  }

  &__form-submit {
    @include m-lbls-btn-style;
    background-color: $bandsite-black;
    color: $silver;
    padding: .75rem 2rem;
    border-radius: 4px;
    margin: 1.25rem 0 1.25rem 0;
  
    &:hover {
      background-color: $bandsite-darkblack;
    }

    &:active {
      color: $white;
    }

    @include tablet {
      @include dt-lbls-btn-style;
      font-size: 1rem;
      width: 12rem;
      margin-left: auto;
    }
  }
}

.comments {
  display: flex;
  @include bot-border;
  padding-bottom: 0.5rem;

  &__container {
    @include tablet {
      width: 40rem;
      margin: 0 auto;
    }
  }
  &__left {
    padding: 0 0.5rem 0 0;
  }

  &__avatar {
    border-radius: 50%;
    width: 2.25rem;
    height: 2.25rem;
    background-color: $mercury;
    object-fit: cover;
    margin: 1rem 0.5rem;

    @include tablet {
      width: 3rem;
      height: 3rem;
    }
  }

  &__right {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__name {
    @include m-bdy-copy-style;
    font-weight: 700;
    padding: 0.75rem 0;
    width: 60%;

    @include tablet{
      @include dt-bdy-copy-style;
      font-weight: 600;
    }
  }

  &__date {
    @include m-bdy-copy-style;
    font-weight: 400;
    padding: 0.75rem 0;
    width: 38%;
    text-align: right;
    color: $silver;

    @include tablet{
      @include dt-bdy-copy-style;
    }
  }

  &__msg {
    @include m-bdy-copy-style;
    font-weight: 300;

    @include tablet{
      @include dt-bdy-copy-style;
    }
  }
}

.commentError {
  @include form-border-invalid
}

